html {
    scroll-behavior: smooth;
  }



html,body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}


body {
    display:flex;
    flex-direction: column;
    background-color:white;
    font-family: 'Muli', sans-serif;
    padding-top:10px;
}


section {
    padding-top:40px;
}

img {
    width: 100%;
}

.container {
    position: relative;
    color: white;
    object-fit: cover;

  }

.centered {
    position: absolute;
    bottom: 5%;
    left:50%;
    transform: translate(-50%, -50%);
  }


.border-top {
    color:black;
}

.imground {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageedit {
    margin-top:20px;
    margin-bottom:20px;
}

.imgshake:hover {
    animation:shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.row {
    margin:0;
}

/* Colors */ 

.purple {
    color:#440381;
}

.turqoise {
    color:#59C3C3;
}

.skyblue {
    color:#2DC7FF; 
}

.grayblue {
    color:#CFE8EF;
}

.gradiant {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #BCEDF6;
   color: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #BCEDF6;
}

.gradiant2 {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(45, 199, 255, 0.5);
}

.gradiant3 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), rgba(68, 3, 129, 0.3);
}

.gradiant4 {
    
background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(89, 195, 195, 0.5);
}


.nav-animations a {
    display:block;
    color:#440381;
    text-decoration: none;
}


.nav-animations a:after {
    content:"";
    display: block;
    width: 0;
    height: 2px;
    background: #440381;;
    transition: width .2s;
    margin:0px;
}

.nav-animations a:hover:after {
    width: 100%;
    transition: width .2s;
}

.navbar {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #BCEDF6;
    position: fixed;
}


.navbar-light .navbar-nav .nav-link {
    color:#440381;
}

.navbar-light .navbar-brand {
    color:#440381;
}


.navbar-brand {
    position: absolute;
    width: 139px;
    height: 36px;
    left: calc(50% - 139px/2 + 0.5px);
    top: calc(50% - 36px/2);
    text-align:center;
    justify-content: center;
    color:#440381;


}

.navbar a{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color:#440381;
}


.nav-item {
    justify-items: space-around;
    padding-left:10px;
    padding-right:10px;
}


.card {
    margin:30px;
    padding:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
    transition:ease-in-out 1s;
}

.card:hover {
    transform:scale(1.05);
}



.form-group {
    margin:20px;
}


.form-group:last-of-type{
    margin-bottom:0px;
}

.btn {
    border-radius: 24px;
    border-color:white;
    margin-bottom:20px;
}

.modal-header {
    display: block;
}

.element-style {
    padding-right:0px;
}


footer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #BCEDF6;
}


h1 
{
    font-weight:bold;
    color:#440381;
    font-size: 30px;
    text-align:center;
}

.h1images {
    font-size:30px;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}


.h1section {
    text-shadow: 2px 2px 4px rgb(192, 182, 192);

}

.h1margin {
    margin-top:30px;
}

h2 {
    font-weight:bold;
    color:#440381;
    font-size: 25px;
}


h3 {
    font-weight:bold;
    color:#440381;
    font-size: 20px;
    text-align:center;
}


h4 {
    font-weight:bold;
    color:#440381;
    font-size: 18px;
}


h5 {
    font-weight:bold;
    color:#440381;
    font-size: 16px;
}

p {
    font-weight:bold;
    color:#440381;
    font-size: 14px;
}
